body {
  color: #2f5572;
  padding: 25px;
  margin: 10px;
  -webkit-columns: 300px 2;
          columns: 300px 2;
}

.box { /*This isn't valid css, but postcss changes to the corecct syntax.*/
}

.box a {
    display: block;
    padding: 10px;
  }
